@model Livraria.Models.Member

<h1>Informações do Membro</h1>

<div>
    <strong>Nome:</strong> @Model.Mname
</div>
<div>
    <strong>Endereço:</strong> @Model.Maddress
</div>
<div>
    <strong>Número de Membro:</strong> @Model.Mno
</div>
<!-- Adicione outras informações do membro, se necessário -->
