@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Estudantes</a>
    </ul>
    <ul>
        <a class="nav-link text-dark" asp-area="" asp-controller="FacultyMembers" asp-action="Index">Universitários</a>
    </ul>

</div>
